<loading *ngIf="isLoading"></loading>
<div fxFlex.gt-sm="100%">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Lista de usuarios admin
                <button matTooltip="Crear nuevo usuario" *ngIf="isLoaded"  routerLink="/usuarios/nuevo" class="button-add" mat-raised-button color="accent">
                    <mat-icon class="color_amar">add_box</mat-icon> <span>Añadir</span>
                </button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="empty-data mat-elevation-z8" *ngIf="usuarios.length == 0 && isLoaded">
                <br>
                <h3>Aún no has creado ningún usuario</h3>
                <button class="buttons-actions empty-button" routerLink="/usuarios/nuevo" mat-flat-button color="primary" type="submit"><span>Añadir <b>Usuario</b></span> </button>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="usuarios.length > 0">
                <mat-table [dataSource]="usuarios">
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                        <mat-cell data-label="Email" *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="usuario">
                        <mat-header-cell *matHeaderCellDef> Nombre y apellidos </mat-header-cell>
                        <mat-cell data-label="Nombre y apellidos" *matCellDef="let element"> {{element.name}} {{element.last_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rol">
                        <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
                        <mat-cell data-label="Rol" *matCellDef="let element"> {{element.type}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                        <mat-cell data-label="Acciones" *matCellDef="let element">

                            <mat-checkbox color="primary" matTooltip="Activar o desactivar" (change)="dialogChangeStatusUsuario($event, element)" [checked]="element.active">
                            </mat-checkbox>

                            <button mat-icon-button color="accent" matTooltip="Editar o ver datos" (click)="goToEditUser(element.hash_admin)">
                                <mat-icon class="mat-18 material-icons color_green">border_color</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" matTooltip="Eliminar" (click)="openDialogDelete(element)">
                                <mat-icon class="mat-18 material-icons color_red">delete</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" matTooltip="Cambiar Contraseña" (click)="openDialogChangePass(element, pass)">
                                <mat-icon class="mat-18 material-icons color_rosa">vpn_lock</mat-icon>
                            </button>


                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator *ngIf="usuarios.length > 0" #paginator [length]="totalLength" [pageIndex]="pageIndex" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
                </mat-paginator>
            </div>

        </mat-card-content>

    </mat-card>
</div>

<!-- change pass modal -->
<ng-template #pass>
    <h1 mat-dialog-title>¿Deseas cambiar la contraseña del usuario?</h1>

    <h4><b>{{emailAdmin}}</b></h4>
    <form [formGroup]="passForm" (ngSubmit)="changePassword()" novalidate>
        <div mat-dialog-content>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6 margin-div-input">
                    <mat-form-field>
                        <input matInput placeholder="Nueva contraseña" type="password" maxlength="255" formControlName="password" required autocomplete="new-text">
                        <mat-error *ngIf="passForm.get('password').hasError('required')">
                            La nueva contraseña es requerida.
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-sm-12 col-md-6 margin-div-input">
                    <mat-form-field>
                        <input matInput placeholder="Confirmar contraseña" maxlength="255" type="password" formControlName="confirmPassword" required autocomplete="new-text">
                        <mat-error *ngIf="passForm.get('confirmPassword').hasError('required')">
                            Confirmar contraseña es requerido.
                        </mat-error>
                        <mat-error *ngIf="passForm.get('confirmPassword').hasError('mustMatch')">
                            Las contraseñas deben coincidir.
                        </mat-error>

                    </mat-form-field>
                </div>
            </div>


        </div>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="primary"  style="margin-right: 5px;" class="alert-cancel" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary"  class="alert-ok" type="submit">Cambiar contraseña</button>
        </mat-dialog-actions>
    </form>
</ng-template>

<!-- change pass modal -->