<loading *ngIf="isLoading"></loading>
<div fxFlex.gt-sm="100%">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Mi cuenta
                    </mat-card-title>
                    <mat-card-subtitle>
                        Puedes editar todos los campos relacionados con tu cuenta.<b> Recuerda guardar los cambios para que sigan estando ahí la próxima vez.</b>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                   
                    <mat-tab-group animationDuration="2000ms">

                        <mat-tab label="Mi Perfil" >
                            <br>

                            <form [formGroup]="formUser" (ngSubmit)="updateUser()" novalidate>
                                <div mat-dialog-content>
                                    <div class="row">
                                        <div class="col-12 ">
                                            <mat-form-field>
                                                <input matInput placeholder="Email" readonly type="text" maxlength="255" formControlName="email" required autocomplete="new-text">
                                                <mat-error *ngIf="formUser.get('email').hasError('required')">
                                                  El email es requerido
                                                </mat-error>

                                                <mat-error *ngIf="formUser.get('email').hasError('pattern')">
                                                    Ingresa un email valido.
                                                </mat-error>
                                                <mat-error *ngIf="formUser.get('email').hasError('maxlength')">
                                                   La longitud máxima es de 255 caracteres:
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 ">
                                            <mat-form-field>
                                                <input matInput placeholder="Nombre" type="text" maxlength="250" formControlName="name" required autocomplete="new-text">
                                                <mat-error *ngIf="formUser.get('name').hasError('maxlength')">
                                                    La longitud máxima es de 250 caracteres.
                                                </mat-error>

                                                <mat-error *ngIf="formUser.get('name').hasError('required')">
                                                    El nombre es requerido.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-12 col-md-6 ">
                                            <mat-form-field>
                                                <input matInput placeholder="Apellidos" type="text" maxlength="250" formControlName="lastName" required autocomplete="new-text">
                                                <mat-error *ngIf="formUser.get('lastName').hasError('maxlength')">
                                                    La longitud máxima es de 250 caracteres.
                                                </mat-error>

                                                <mat-error *ngIf="formUser.get('lastName').hasError('required')">
                                                    Los apellidos son requeridos.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button mat-raised-button color="primary" (click)="getUserById()" type="button" class="alert-cancel">Cancelar cambios</button>
                                    <button mat-raised-button color="primary" style="float: right; margin-top: 3px;" type="submit" class="alert-ok">Guardar</button>
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab label="Cambiar constraseña">
                            <form [formGroup]="passFormUser" (ngSubmit)="changePasswordUser()" novalidate>
                                <div mat-dialog-content>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 margin-div-input">
                                            <mat-form-field>
                                                <input matInput placeholder="Contraseña" type="password" maxlength="200" formControlName="password" required autocomplete="new-text">
                                                <mat-error *ngIf="passFormUser.get('password').hasError('required')">
                                                   La nueva contraseña es requerida.
                                                </mat-error>
                                                <mat-error *ngIf="passFormUser.get('password').hasError('maxlength')">
                                                    La longitud máxima es de 200 caracteres.
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-sm-12 col-md-6 margin-div-input">
                                            <mat-form-field>
                                                <input matInput placeholder="Confirmar contraseña" maxlength="200" type="password" formControlName="confirmPassword" required autocomplete="new-text">
                                                <mat-error *ngIf="passFormUser.get('confirmPassword').hasError('required')">
                                                   Confirmar contraseña es requerido.
                                                </mat-error>
                                                <mat-error *ngIf="passFormUser.get('confirmPassword').hasError('mustMatch')">
                                                    Las contraseñas no coinciden.
                                                </mat-error>
                                                <!-- <mat-error *ngIf="passFormUser.get('confirmPassword').hasError('maxlength')">
                                                    La longitud máxima es de 200 caracteres.
                                                </mat-error> -->

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div style="float: right">
                                        <button mat-raised-button color="primary" type="submit" class="alert-ok">Cambiar contraseña</button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>

            </mat-card>
        </div>
    </div>


</div>